*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    color: #ffffff;
    background-color: purple;
    text-transform: uppercase;
    border-radius: 15px 50px;
}

body {
    background-image: url(../public/bg.jpg);
    background-attachment: fixed;
}